@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.login,
.register {
  position: absolute;
  display: flex;
  width: 100%;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-image: url('https://free4kwallpapers.com/uploads/originals/2019/01/12/constellations-wallpaper.jpg');
}

.register-form,
.login-form {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  border-radius: 25px;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.1);
}

.register-form label,
.login-form label {
  text-transform: uppercase;
  color: rgb(204, 204, 204);
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.register-form input,
.login-form input {
  width: 100%;
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 18px;
  margin-bottom: 30px;
  outline: none;
}

.register-form button,
.login-form button {
  width: 100%;
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  color: rgba(12, 16, 25);
  font-size: 18px;
  margin-bottom: 10px;
  background-color: rgb(255, 254, 254, 0.7);
}

.register-form button:hover,
.login-form button:hover {
  color: white;
  background-color: rgba(12, 16, 25, 0.3);
}

.error {
  position: fixed;
  top: 20px;
  width: 100%;
  text-align: center;
  background-color: white;
  color: #00003f;
  padding: 20px 0;
  font-weight: bold;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-size: cover;
  background-image: url('https://free4kwallpapers.com/uploads/originals/2019/01/12/constellations-wallpaper.jpg');
}

.messages {
  color: white;
  padding: 10px 200px;
  background-color: rgba(238, 238, 238, 0.1);
  height: 85vh;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  overflow: auto;
}

.text-area {
  width: 100vw;
  background-color: rgba(12, 16, 25, 0.8);
  height: 15vh;
}

.composer-container {
  padding: 0 200px;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  display: flex;
}

.composer {
  margin: 1em;
  background-color: rgba(12, 16, 25, 0);
  color: white;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.25em;
  resize: none;
}

.Message {
  width: 80%;
  min-height: 50px;
  margin: 0.5em;
  padding: 0.5em;
  background-color: rgb(249, 247, 249, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}
.Message p {
  flex-grow: 1;
  margin: 1em 3em;
  color: white;
  font-weight: 500;
}

.timestamp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 300;
  margin-left: 20px;
  margin-right: 20px;
}

.profile-img {
  display: flex;
  align-items: center;
  border-radius: 50%;
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.profile-img img {
  width: 40px;
}

.logout {
  position: absolute;
  position: absolute;
  top: 10px;
  left: 20px;
  background: none;
  color: white;
  text-transform: uppercase;
  padding: 5px 10px;
  font-size: 16px;
  transition: top ease-in-out 0.5s;
  outline: none;
}

.logout:hover {
  font-weight: 700;
  top: 15px;
  box-shadow: 0 8px 6px -6px black;
}

.total-container {
  display: flex;
  align-items: center;
  padding: 25px 0;
}

.emoji-picker {
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  right: 200px;
  transition: transform ease-in-out 0.5s, bottom ease-in-out 1s;
}

.emoji-picker:hover {
  transform: rotate(15deg);
}

.emoji-picker:active {
  bottom: 30px;
}

.emoji-container {
  position: absolute;
  bottom: 12vh;
  right: 10vw;
  background-color: rgba(238, 238, 238, 0.1);
  padding: 20px;
  border-radius: 5px;
}

.emoji-container::after {
  content: '';
  width: 0px;
  height: 0px;
  position: absolute;
  border: 15px solid;
  border-color: transparent rgba(238, 238, 238, 0.1) transparent transparent;
  bottom: -30px;
  right: 50px;
  transform: rotate(-90deg);
}

.gif-items {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  row-gap: 5px;
  grid-column-gap: 5px;
  overflow: scroll;
  max-height: 80vh;
  width: 50vw;
}

.gif-item {
  justify-self: center;
  display: flex;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(238, 238, 238, 0.1);
}

.gif-item:hover {
  background-color: rgba(238, 238, 238, 0.3);
}

.emoji-container input {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
  border: none;
  color: rgba(0, 0, 0, 0.7);
}

.emoji-container input::placeholder {
  color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}
